<nav class="navbar">
  <div>
      <a
        class="button"
        routerLink="/"
        routerLinkActive="active"
        (click)="moveToTheHome()"
        >Home</a
      >
      <a class="button" routerLink="/notes" routerLinkActive="active">Notes</a>
      <a class="button" routerLink="/dashboard" routerLinkActive="active"
        >Dashboard</a
      >
    </div>

  <!-- Warunkowe wyświetlanie przycisku w zależności od stanu logowania -->
  <button *ngIf="!isLoggedIn" class="login-btn" (click)="moveToTheLogin()">
    Login
  </button>
  <button *ngIf="isLoggedIn" (click)="logout()" class="logout-btn">
    Logout
  </button>
</nav>
